# Devoir maison pour le compte du cours de DBS

In [1]:
!pip install pandas rdflib

Collecting pandas
  Downloading pandas-2.3.3-cp312-cp312-macosx_10_13_x86_64.whl.metadata (91 kB)
Collecting rdflib
  Downloading rdflib-7.5.0-py3-none-any.whl.metadata (12 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.5-cp312-cp312-macosx_14_0_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting pyparsing<4,>=2.1.0 (from rdflib)
  Downloading pyparsing-3.2.5-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp312-cp312-macosx_10_13_x86_64.whl (11.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 5.4 MB/s  0:00:02m0:00:0100:01
Downloading rdflib-7.5.0-py3-none-any.whl (587 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 587.2/587.2 kB 5.3 MB/s  0:00:00
Downloading pyparsing-3.2.5-py3-none-any.whl (113 kB)
Downloading numpy-2.3.5-cp312-cp312-macosx_14_0_x86_64.whl (6.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.6/6.6 MB 3.7 MB/s  0:00:01 eta 0:00:01
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.3-py2.py3-none-any.whl (348 kB)
Installing collected packages: pytz, tzdata, pyparsing, numpy, rdflib, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6/6 [pandas]2m5/6 [pandas]ng]
Successfully installed numpy-2.3.5 pandas-2.3.3 pyparsing-3.2.5 pytz-2025.2 rdflib-7.5.0 tzdata-2025.3

## 1 Choix des jeux de données

### Les sources de données

1) NBA games data, Nathan Lugan (Kaggle)
Link : https://www.kaggle.com/datasets/nathanlauga/nba-games?select=games.csv

Colonnes d'intéret : 

GAME_DATE_EST : Le jour du match

GAME_ID : L'identifiant du match

HOME_TEAM_ID : L'identifiant de l'équipe à domicile

VISITOR_TEAM_ID : L'identifiant de l'équipe à l'exterieur

SEASON : La saison

PTS_home : Nombre de points dans le match de l'équipe à domicile

PTS_away : Nombre de points dans le match de l'équipe à l'exterieur

HOME_TEAM_WINS : Valeur booléenne qui si l'équipe à domicile à gagné le match (1) ou non (0)

In [1]:
"""
2) NBA Dataset - Box Scores & Stats, 1947 - Today, Justinas Cirtautas (Kaggle). Link : https://www.kaggle.com/datasets/eoinamoore/historical-nba-data-and-player-box-scores

gameId : Identifant du match
hometeamCity : Ville de l'équipe à domicile
hometeamName : Nom de l'équipe à l'exterieur
hometeamId : Identifiant de l'équipe à domicile
awayteamCity : Ville de l'équipe à l'exterieur
awayteamName : Nom de l'équipe à l'exterieur
awayteamId : Identifiant de l'équipe à l'exterieur

"""

"\n2) NBA Dataset - Box Scores & Stats, 1947 - Today, Justinas Cirtautas (Kaggle). Link : https://www.kaggle.com/datasets/eoinamoore/historical-nba-data-and-player-box-scores\n\ngameId : Identifant du match\nhometeamCity : Ville de l'équipe à domicile\nhometeamName : Nom de l'équipe à l'exterieur\nhometeamId : Identifiant de l'équipe à domicile\nawayteamCity : Ville de l'équipe à l'exterieur\nawayteamName : Nom de l'équipe à l'exterieur\nawayteamId : Identifiant de l'équipe à l'exterieur\n\n"

3) NBA Database, Wyatt Walsh (Kaggle). Lien : https://www.kaggle.com/datasets/wyattowalsh/basketball

    person_id : Identifiant de chaque joueur

    first_name : Prénom du joueur

    last_name : Nom du joueur

    birthdate : Date d'anniversaire

    school : L'université de laquelle le joueur vient

    height : La taille du joueur

    position : Sa position

    team_id : L'identifiant de son équipe

    team_name : Le nom de son équipe

    team_city : Ville de son équipe

    team_abbreviation : L'abréviation de son équipe

    draft_year : L'année de draft du joueur

    draft_round : Le tour auquel le joueur a été drafté

# II. Passe au code

In [1]:
import pandas as pd
pd.set_option("display.max_rows", None) # Afficher toutes les lignes
pd.set_option("display.max_columns", None) # Afficher toutes les colonnes

In [2]:
# Import the dataset of players

players = pd.read_csv("./csv_datasets/Players.csv")
players = players[["person_id", "first_name", "last_name", "birthdate", "school", "height", "position", "team_id", "team_name", "team_city", "team_abbreviation", "draft_year", "draft_round"]]
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4171 entries, 0 to 4170
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   person_id          4171 non-null   int64
 1   first_name         4171 non-null   object
 2   last_name          4171 non-null   object
 3   birthdate          4171 non-null   object
 4   school             4156 non-null   object
 5   height             4075 non-null   object
 6   position           4108 non-null   object
 7   team_id            4171 non-null   int64
 8   team_name          3469 non-null   object
 9   team_city          3469 non-null   object
 10  team_abbreviation  3469 non-null   object
 11  draft_year         4171 non-null   object
 12  draft_round        4007 non-null   object
dtypes: int64(2), object(11)
memory usage: 423.7+ KB

In [3]:
# Import the Dataset games
games = pd.read_csv("./csv_datasets/Games.csv")
games = games[["GAME_DATE_EST", "GAME_ID", "HOME_TEAM_ID", "VISITOR_TEAM_ID", "SEASON", "PTS_home", "PTS_away", "HOME_TEAM_WINS"]]
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26651 entries, 0 to 26650
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   GAME_DATE_EST    26651 non-null  object
 1   GAME_ID          26651 non-null  int64
 2   HOME_TEAM_ID     26651 non-null  int64
 3   VISITOR_TEAM_ID  26651 non-null  int64
 4   SEASON           26651 non-null  int64
 5   PTS_home         26552 non-null  float64
 6   PTS_away         26552 non-null  float64
 7   HOME_TEAM_WINS   26651 non-null  int64
dtypes: float64(2), int64(5), object(1)
memory usage: 1.6+ MB

In [27]:
games.dropna(inplace=True)
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26552 entries, 0 to 26650
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   GAME_DATE_EST    26552 non-null  object
 1   GAME_ID          26552 non-null  int64
 2   HOME_TEAM_ID     26552 non-null  int64
 3   VISITOR_TEAM_ID  26552 non-null  int64
 4   SEASON           26552 non-null  int64
 5   PTS_home         26552 non-null  float64
 6   PTS_away         26552 non-null  float64
 7   HOME_TEAM_WINS   26552 non-null  int64
dtypes: float64(2), int64(5), object(1)
memory usage: 1.8+ MB

In [28]:
players.dropna(inplace=True)
players.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3130 entries, 0 to 3241
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   person_id          3130 non-null   int64
 1   first_name         3130 non-null   object
 2   last_name          3130 non-null   object
 3   birthdate          3130 non-null   object
 4   school             3130 non-null   object
 5   height             3130 non-null   object
 6   position           3130 non-null   object
 7   team_id            3130 non-null   int64
 8   team_name          3130 non-null   object
 9   team_city          3130 non-null   object
 10  team_abbreviation  3130 non-null   object
 11  draft_year         3130 non-null   object
 12  draft_round        3130 non-null   object
dtypes: int64(2), object(11)
memory usage: 342.3+ KB

In [29]:
players["team_id"].nunique()

30

In [30]:
# Sets de team_id présents dans games
games_teams = set(games["HOME_TEAM_ID"].unique()).union(set(games["VISITOR_TEAM_ID"].unique()))

# Filtrer players pour ne garder que les team_id présents dans games
players_cleaned = players[players["team_id"].isin(games_teams)]

# Sauvegarder si besoin
players_cleaned.to_csv("players_cleaned.csv", index=False)

In [31]:
players = pd.read_csv("players_cleaned.csv")

In [26]:
# Extraire les colonnes équipe depuis player.csv
teams_from_players = players[["team_id", "team_name", "team_city", "team_abbreviation"]].drop_duplicates()

# Extraire les équipes présentes dans game.csv
home_teams = games[["HOME_TEAM_ID"]].rename(columns={"HOME_TEAM_ID": "team_id"})
visitor_teams = games[["VISITOR_TEAM_ID"]].rename(columns={"VISITOR_TEAM_ID": "team_id"})
teams_from_games = pd.concat([home_teams, visitor_teams]).drop_duplicates()

# Fusionner pour avoir toutes les équipes
teams = pd.merge(teams_from_games, teams_from_players, on="team_id", how="left")

# Sauvegarder en CSV
teams_unique = teams.groupby("team_id").agg(lambda x: x.mode()[0]).reset_index()
teams_unique.to_csv("team.csv", index=False)

In [35]:
games.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'SEASON',
       'PTS_home', 'PTS_away', 'HOME_TEAM_WINS'],
      dtype='object')

# Merge both dataset

nba_df = games.merge(players, on=")

In [32]:
players["team_id"].nunique()

30

In [15]:
game = pd.read_csv("./csv_datasets/game.csv")

In [16]:
game.isna().sum()

season_id                     0
team_id_home                  0
team_abbreviation_home        0
team_name_home                0
game_id                       0
game_date                     0
matchup_home                  0
wl_home                       2
min                           0
fgm_home                     13
fga_home                  15447
fg_pct_home               15490
fg3m_home                 13218
fg3a_home                 18683
fg3_pct_home              19074
ftm_home                     16
fta_home                   3004
ft_pct_home                3009
oreb_home                 18936
dreb_home                 18999
reb_home                  15729
ast_home                  15805
stl_home                  18849
blk_home                  18626
tov_home                  18684
pf_home                    2856
pts_home                      0
plus_minus_home               0
video_available_home          0
team_id_away                  0
team_abbreviation_away        0
team_name_away                0
matchup_away                  0
wl_away                       2
fgm_away                     13
fga_away                  15447
fg_pct_away               15489
fg3m_away                 13218
fg3a_away                 18683
fg3_pct_away              18962
ftm_away                     13
fta_away                   3004
ft_pct_away                3006
oreb_away                 18936
dreb_away                 18998
reb_away                  15725
ast_away                  15801
stl_away                  18849
blk_away                  18625
tov_away                  18685
pf_away                    2851
pts_away                      0
plus_minus_away               0
video_available_away          0
season_type                   0
dtype: int64

In [17]:
player = pd.read_csv("./csv_datasets/player.csv")

In [20]:
players.isna().sum()

person_id              0
first_name             0
last_name              0
birthdate              0
school                15
height                96
position              63
team_id                0
team_name            702
team_city            702
team_abbreviation    702
draft_year             0
draft_round          164
dtype: int64

In [22]:
player.isna().sum()

id            0
full_name     0
first_name    6
last_name     0
is_active     0
dtype: int64

In [37]:
games.isna().sum()

GAME_DATE_EST      0
GAME_ID            0
HOME_TEAM_ID       0
VISITOR_TEAM_ID    0
SEASON             0
PTS_home           0
PTS_away           0
HOME_TEAM_WINS     0
dtype: int64

In [18]:
player.head()

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf          0
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad          0

In [38]:
games.to_csv("games_cleaned.csv", index=False)
players.to_csv("players_cleaned.csv", index=False)

In [45]:
import pandas as pd
from rdflib import Graph, Namespace, Literal, XSD

# -----------------------
# 1️⃣ Charger les CSV
# -----------------------
players = pd.read_csv("players_cleaned.csv")
teams = pd.read_csv("team.csv")
games = pd.read_csv("games_cleaned.csv")

# -----------------------
# -----------------------
# 3️⃣ Corriger les dates de naissance
# -----------------------
def complete_date(d):
    if pd.isna(d):
        return None
    s = str(d).strip()
    if len(s) == 7 and s[4] == '-':   # YYYY-MM → YYYY-MM-01
        return s + "-01"
    if len(s) == 10 and s[4] == '-' and s[7] == '-':  # YYYY-MM-DD
        return s
    return None

players['birthdate'] = players['birthdate'].apply(complete_date)

# -----------------------
# 4️⃣ Fonction sécurisée pour convertir en int
# -----------------------
def safe_int(val):
    try:
        return int(val)
    except (ValueError, TypeError):
        return None

# -----------------------
# 5️⃣ Créer le graphe RDF
# -----------------------
g = Graph()
ns = Namespace("http://example.org/basketball/")

# Ajouter les équipes
for _, row in teams.iterrows():
    team_uri = ns[f"Team/{row.team_id}"]
    g.add((team_uri, ns.teamName, Literal(row.team_name)))
    g.add((team_uri, ns.teamCity, Literal(row.team_city)))
    g.add((team_uri, ns.teamAbbreviation, Literal(row.team_abbreviation)))

# Ajouter les joueurs
for _, row in players.iterrows():
    player_uri = ns[f"Player/{row.person_id}"]
    g.add((player_uri, ns.firstName, Literal(row.first_name)))
    g.add((player_uri, ns.lastName, Literal(row.last_name)))
    
    if row.birthdate:
        g.add((player_uri, ns.birthdate, Literal(row.birthdate, datatype=XSD.date)))
    
    g.add((player_uri, ns.height, Literal(row.height)))
    g.add((player_uri, ns.position, Literal(row.position)))
    g.add((player_uri, ns.playsFor, ns[f"Team/{row.team_id}"]))

    draft_year = safe_int(row.draft_year)
    if draft_year is not None:
        g.add((player_uri, ns.draftYear, Literal(draft_year)))

    draft_round = safe_int(row.draft_round)
    if draft_round is not None:
        g.add((player_uri, ns.draftRound, Literal(draft_round)))

# Ajouter les matchs
for _, row in games.iterrows():
    game_uri = ns[f"Game/{row.GAME_ID}"]
    g.add((game_uri, ns.gameDate, Literal(row.GAME_DATE_EST, datatype=XSD.date)))
    g.add((game_uri, ns.season, Literal(row.SEASON)))
    g.add((game_uri, ns.pointsHome, Literal(row.PTS_home)))
    g.add((game_uri, ns.pointsAway, Literal(row.PTS_away)))
    g.add((game_uri, ns.homeTeamWins, Literal(bool(row.HOME_TEAM_WINS))))
    g.add((game_uri, ns.homeTeam, ns[f"Team/{row.HOME_TEAM_ID}"]))
    g.add((game_uri, ns.visitorTeam, ns[f"Team/{row.VISITOR_TEAM_ID}"]))

# -----------------------
# 6️⃣ Sauvegarder en Turtle
# -----------------------
g.serialize("basketball.ttl", format="turtle")
print("RDF généré dans basketball.ttl")

RDF généré dans basketball.ttl

In [ ]:
from rdflib import Graph

# Charger le graphe
g = Graph()
g.parse("basketball.ttl", format="turtle")

query = """
PREFIX bb: <http://example.org/basketball/>

SELECT ?team (SUM(?points) AS ?totalPoints)
WHERE {
  {
    ?game bb:season 2006 ;
          bb:homeTeam ?team ;
          bb:pointsHome ?points .
  }
  UNION
  {
    ?game bb:season 2006 ;
          bb:visitorTeam ?team ;
          bb:pointsAway ?points .
  }
}
GROUP BY ?team
ORDER BY DESC(?totalPoints)
LIMIT 3
"""

results = g.query(query)

# Affichage
for row in results:
    team = row.team
    total_points = row.totalPoints
    print(f"{team} → {total_points} points")

AttributeError: team

In [50]:
results

In [48]:
row

GAME_DATE_EST      2014-10-04
GAME_ID              11400001
HOME_TEAM_ID       1610612748
VISITOR_TEAM_ID    1610612740
SEASON                   2014
PTS_home                 86.0
PTS_away                 98.0
HOME_TEAM_WINS              0
Name: 26551, dtype: object