# Devoir maison pour le compte du cours de DBS

## 1 Choix des jeux de données

### Les sources de données

1) NBA games data, Nathan Lugan (Kaggle)
Link : https://www.kaggle.com/datasets/nathanlauga/nba-games?select=games.csv

Colonnes d'intéret : 

GAME_DATE_EST : Le jour du match

GAME_ID : L'identifiant du match

HOME_TEAM_ID : L'identifiant de l'équipe à domicile

VISITOR_TEAM_ID : L'identifiant de l'équipe à l'exterieur

SEASON : La saison

PTS_home : Nombre de points dans le match de l'équipe à domicile

PTS_away : Nombre de points dans le match de l'équipe à l'exterieur

HOME_TEAM_WINS : Valeur booléenne qui si l'équipe à domicile à gagné le match (1) ou non (0)

In [2]:
"""
2) NBA Dataset - Box Scores & Stats, 1947 - Today, Justinas Cirtautas (Kaggle). Link : https://www.kaggle.com/datasets/eoinamoore/historical-nba-data-and-player-box-scores

gameId : Identifant du match
hometeamCity : Ville de l'équipe à domicile
hometeamName : Nom de l'équipe à l'exterieur
hometeamId : Identifiant de l'équipe à domicile
awayteamCity : Ville de l'équipe à l'exterieur
awayteamName : Nom de l'équipe à l'exterieur
awayteamId : Identifiant de l'équipe à l'exterieur

"""

"\n2) NBA Dataset - Box Scores & Stats, 1947 - Today, Justinas Cirtautas (Kaggle). Link : https://www.kaggle.com/datasets/eoinamoore/historical-nba-data-and-player-box-scores\n\ngameId : Identifant du match\nhometeamCity : Ville de l'équipe à domicile\nhometeamName : Nom de l'équipe à l'exterieur\nhometeamId : Identifiant de l'équipe à domicile\nawayteamCity : Ville de l'équipe à l'exterieur\nawayteamName : Nom de l'équipe à l'exterieur\nawayteamId : Identifiant de l'équipe à l'exterieur\n\n"

3) NBA Database, Wyatt Walsh (Kaggle). Lien : https://www.kaggle.com/datasets/wyattowalsh/basketball

    person_id : Identifiant de chaque joueur

    first_name : Prénom du joueur

    last_name : Nom du joueur

    birthdate : Date d'anniversaire

    school : L'université de laquelle le joueur vient

    height : La taille du joueur

    position : Sa position

    team_id : L'identifiant de son équipe

    team_name : Le nom de son équipe

    team_city : Ville de son équipe

    team_abbreviation : L'abréviation de son équipe

    draft_year : L'année de draft du joueur

    draft_round : Le tour auquel le joueur a été drafté

# II. Passe au code

In [3]:
import pandas as pd

In [4]:
# Import the dataset of players

players = pd.read_csv("./csv_datasets/Players.csv")
players = players[["person_id", "first_name", "last_name", "birthdate", "school", "height", "position", "team_id", "team_name", "team_city", "team_abbreviation", "draft_year", "draft_round"]]
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4171 entries, 0 to 4170
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   person_id          4171 non-null   int64
 1   first_name         4171 non-null   object
 2   last_name          4171 non-null   object
 3   birthdate          4171 non-null   object
 4   school             4156 non-null   object
 5   height             4075 non-null   object
 6   position           4108 non-null   object
 7   team_id            4171 non-null   int64
 8   team_name          3469 non-null   object
 9   team_city          3469 non-null   object
 10  team_abbreviation  3469 non-null   object
 11  draft_year         4171 non-null   object
 12  draft_round        4007 non-null   object
dtypes: int64(2), object(11)
memory usage: 423.7+ KB

In [16]:
# Import the Dataset games
games = pd.read_csv("./csv_datasets/Games.csv")
games = games[["GAME_DATE_EST", "GAME_ID", "HOME_TEAM_ID", "VISITOR_TEAM_ID", "SEASON", "PTS_home", "PTS_away", "HOME_TEAM_WINS"]]
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26651 entries, 0 to 26650
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   GAME_DATE_EST    26651 non-null  object
 1   GAME_ID          26651 non-null  int64
 2   HOME_TEAM_ID     26651 non-null  int64
 3   VISITOR_TEAM_ID  26651 non-null  int64
 4   SEASON           26651 non-null  int64
 5   PTS_home         26552 non-null  float64
 6   PTS_away         26552 non-null  float64
 7   HOME_TEAM_WINS   26651 non-null  int64
dtypes: float64(2), int64(5), object(1)
memory usage: 1.6+ MB

In [18]:
# Capitalize the column names of both datasets
games.columns = games.columns.str.capitalize()
players.columns = players.columns.str.capitalize()
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26651 entries, 0 to 26650
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Game_date_est    26651 non-null  object
 1   Game_id          26651 non-null  int64
 2   Home_team_id     26651 non-null  int64
 3   Visitor_team_id  26651 non-null  int64
 4   Season           26651 non-null  int64
 5   Pts_home         26552 non-null  float64
 6   Pts_away         26552 non-null  float64
 7   Home_team_wins   26651 non-null  int64
dtypes: float64(2), int64(5), object(1)
memory usage: 1.6+ MB

In [19]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4171 entries, 0 to 4170
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Person_id          4171 non-null   int64
 1   First_name         4171 non-null   object
 2   Last_name          4171 non-null   object
 3   Birthdate          4171 non-null   object
 4   School             4156 non-null   object
 5   Height             4075 non-null   object
 6   Position           4108 non-null   object
 7   Team_id            4171 non-null   int64
 8   Team_name          3469 non-null   object
 9   Team_city          3469 non-null   object
 10  Team_abbreviation  3469 non-null   object
 11  Draft_year         4171 non-null   object
 12  Draft_round        4007 non-null   object
dtypes: int64(2), object(11)
memory usage: 423.7+ KB

In [21]:
# Merge both dataframes
nba_df = pd.merge(left=games, right=players, left_on="Home_team_id", right_on="Team_id")
nba_df

,Game_date_est,Game_id,Home_team_id,Visitor_team_id,Season,Pts_home,Pts_away,Home_team_wins,Person_id,First_name,...,Birthdate,School,Height,Position,Team_id,Team_name,Team_city,Team_abbreviation,Draft_year,Draft_round
0,2022-12-22,22200477,1610612740,1610612759,2022,126.0,117.0,1,201582,Alexis,...,1988-05-06 00:00:00,Hyeres-Toulon,7-2,Center,1610612740,Pelicans,New Orleans,NOP,2008,1
1,2022-12-22,22200477,1610612740,1610612759,2022,126.0,117.0,1,1630631,Jose,...,1998-04-12 00:00:00,Georgia Tech,6-0,Guard,1610612740,Pelicans,New Orleans,NOP,Undrafted,Undrafted
2,2022-12-22,22200477,1610612740,1610612759,2022,126.0,117.0,1,200756,Hilton,...,1984-11-23 00:00:00,Connecticut,6-11,Forward-Center,1610612740,Hornets,New Orleans,NOH,2006,1
3,2022-12-22,22200477,1610612740,1610612759,2022,126.0,117.0,1,201600,Omer,...,1986-07-04 00:00:00,Fenerbahce,7-0,Center,1610612740,Pelicans,New Orleans,NOP,2008,2
4,2022-12-22,22200477,1610612740,1610612759,2022,126.0,117.0,1,202337,Luke,...,1989-06-20 00:00:00,Nevada-Reno,6-9,Forward,1610612740,Pelicans,New Orleans,NOP,2010,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2887685,2014-10-04,11400001,1610612748,1610612740,2014,86.0,98.0,0,78295,Anthony,...,1965-11-30 00:00:00,Oregon,6-4,Guard,1610612748,Heat,Miami,MIA,1988,2
2887686,2014-10-04,11400001,1610612748,1610612740,2014,86.0,98.0,0,1631,Billy,...,1963-12-01 00:00:00,Louisville,6-7,Forward,1610612748,Heat,Miami,MIA,1986,1
2887687,2014-10-04,11400001,1610612748,1610612740,2014,86.0,98.0,0,1629216,Gabe,...,1996-06-14 00:00:00,California-Santa Barbara,6-2,Guard,1610612748,Heat,Miami,MIA,Undrafted,Undrafted
2887688,2014-10-04,11400001,1610612748,1610612740,2014,86.0,98.0,0,1630209,Omer,...,1998-06-19 00:00:00,Georgetown,6-11,Center,1610612748,Heat,Miami,MIA,Undrafted,Undrafted
2887689,2014-10-04,11400001,1610612748,1610612740,2014,86.0,98.0,0,203469,Cody,...,1992-10-05 00:00:00,Indiana,6-11,Forward-Center,1610612748,Heat,Miami,MIA,2013,1

In [15]:
# {"GAME_DATE_EST": "Game_date", "GAME_ID": "Game_id", "HOME_TEAM_ID": "Home_team_"}

# Merge both dataset

nba_df = games.merge(players, on=")